.dh-login-wrapper {
    width: 400px;
    max-width: 90%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: white;
    padding: 10px;
}

.dh-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
}

.input-with-validation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-floating {
    width: 100%;
}

input {
    width: 100%;
}

.text-danger {
    width: 100%;
    text-align: center;
}

hr {
    width: 100%;
}

button {
    width: 100%;
}