.nav-link  {
    color: white;
}

.tab-header {
    text-align: right;
}

.label-white {
    color: white;
}

.tab-content {
    display: grid;
    width: 100%;
}

.tab-content-inner {
    display: grid;
    gap: 5px;
}

.accordion {
    width: 100%;
}

.accordion-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
}

.card:hover {
    transform: scale(103%);
    cursor: pointer;
}

.card:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 75px;
    background: rgba(253, 223, 174, 0.8);
}

.card-header-silver {
    background: rgba(196, 196, 196, 0.8);
}

.shop-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.shop-info-inner {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.shop-win-count {
    margin-left: auto;
}

.shop-win-count-inner {
    display: grid;
    grid-template-columns: 30px 45px;
    align-items: center;
}

.card-body {
    background: rgba(255, 245, 238, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.card-body-silver {
    background: rgba(238, 238, 238, 0.8);
}

@media screen and (max-width: 991px) {
    .accordion-body {
        grid-template-columns: 1fr;
    }
}
