.display-none {
    display: none;
}

.region {
    border: none;
    padding: 10px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.region div {
    padding-left: 5px;
    border: 1px solid #eeeeeeee;
    border-radius: 5px;
}

.region div:hover {
    transform: scale(105%);
    cursor: pointer;
}

.region div:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.selected-state {
    background: rgba(253, 223, 174, 0.8);
}

.accordion {
    width: 100%;
}

.sort-search-group {
    width: 200px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
}

.search-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

#input-shop-name {
    color: black;
}

#search-btn {
    color: white;
}

.sort-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

#sort-by {
    color: black;
}

#direction-btn {
    color: white;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    width: 100%;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    transform: scale(103%);
    cursor: pointer;
}

.card:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 75px;
    background: rgba(196, 196, 196, 0.8);
}

.shop-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.shop-info-inner {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.shop-win-count {
    margin-left: auto;
}

.shop-win-count-inner {
    display: grid;
    grid-template-columns: 30px 45px;
    align-items: center;
}

.card-body {
    background: rgba(238, 238, 238, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.active {
    z-index: 0;
}

.label-region-bold {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.label-region-normal {
    color: black;
    font-size: 14px;
}

.label-region-count {
    color: #888888;
    font-size: 12px;
}

@media screen and (max-width: 991px) {
    .grid-view {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .region {
        grid-template-columns: repeat(3, 1fr);
    }

    .pagination li a {
        padding: 11px;
        font-size: 11px;
    }

    .label-region-bold {
        font-size: 14px;
    }

    .label-region-normal {
        font-size: 13px;
    }

    .label-region-count {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .label-region-bold {
        font-size: 13px;
    }

    .label-region-normal {
        font-size: 12px;
    }

    .label-region-count {
        font-size: 10px;
    }
}

@media screen and (max-width: 425px) {
    .region {
        grid-template-columns: repeat(2, 1fr);
    }

    .pagination li a {
        padding: 9px;
        font-size: 9px;
    }
}

@media screen and (max-width: 380px) {
    .label-region-bold {
        font-size: 12px;
    }

    .label-region-normal {
        font-size: 11px;
    }

    .label-region-count {
        font-size: 9px;
    }
}

@media screen and (max-width: 350px) {
    .label-region-bold {
        font-size: 11px;
    }

    .label-region-normal {
        font-size: 10px;
    }

    .label-region-count {
        font-size: 8px;
    }
}

@media screen and (max-width: 320px) {
    .label-region-bold {
        font-size: 10px;
    }

    .label-region-normal {
        font-size: 8px;
    }

    .label-region-count {
        font-size: 6px;
    }
}
