.accordion {
    width: 100%;
}

.display-none {
    display: none;
}

.region {
    border: none;
    padding: 10px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.region div {
    padding-left: 5px;
    border: 1px solid #eeeeeeee;
    border-radius: 5px;
}

.region div:hover {
    transform: scale(105%);
    cursor: pointer;
}

.region div:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.selected-state {
    background: rgba(253, 223, 174, 0.8);
}


.card {
    width: 100%;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    transform: scale(103%);
    cursor: pointer;
}

.card:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.card-header {
    background: rgba(161, 161, 161, 0.8);
}


.active {
    z-index: 0;
}

.label-region-bold {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.label-region-normal {
    color: black;
    font-size: 14px;
}

.label-region-count {
    color: #888888;
    font-size: 12px;
}


@media screen and (max-width: 768px) {
    .region {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        font-size: 16px;
    }

    .label-region-bold {
        font-size: 14px;
    }

    .label-region-normal {
        font-size: 13px;
    }

    .label-region-count {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        font-size: 15px;
    }

    .label-region-bold {
        font-size: 13px;
    }

    .label-region-normal {
        font-size: 12px;
    }

    .label-region-count {
        font-size: 10px;
    }
}

@media screen and (max-width: 425px) {
    .region {
        grid-template-columns: repeat(2, 1fr);
    }

    .page-link {
        padding: 6px 12px;
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .card {
        font-size: 14px;
    }

    .label-region-bold {
        font-size: 12px;
    }

    .label-region-normal {
        font-size: 11px;
    }

    .label-region-count {
        font-size: 9px;
    }
}

@media screen and (max-width: 350px) {
    .card {
        font-size: 13px;
    }

    .page-link {
        padding: 5px 10px;
        font-size: 13px;
    }

    .label-region-bold {
        font-size: 11px;
    }

    .label-region-normal {
        font-size: 10px;
    }

    .label-region-count {
        font-size: 8px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        font-size: 12px;
    }

    .label-region-bold {
        font-size: 10px;
    }

    .label-region-normal {
        font-size: 8px;
    }

    .label-region-count {
        font-size: 6px;
    }
}
