
.shop-info {
    width: 100%;
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
}

#map {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 5px 0;
}

.win-info-short-container {
    width: 100%;
    background: white;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#win-1st-info-short {
    background: rgba(255, 215, 0, 0.8);
}

/*#win-2nd-info-short {*/
/*    background: rgba(192, 192, 192, 0.8);*/
/*}*/

.win-info-short {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: center;
    justify-items: center;
}

.win-info-short ul {
    margin: 0;
    padding: 10px;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    flex: 1;
    flex-wrap: wrap;
}

.win-info-short li {
    display: flex;
    flex-direction: column;
}

.accordion {
    width: 100%;
}

/*#lotto-1st-win-shops-header .accordion-button {*/
/*    background: rgba(255, 215, 0, 0.8);*/
/*}*/

.card {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    transform: scale(103%);
    cursor: pointer;
}

.card:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(253, 223, 174, 0.8);
}

.card-header-silver {
    background: rgba(161, 161, 161, 0.8);
}

.card-body {
    padding: 5px 0;
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.ball {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


.split-token {
    font-size: 20px;
    color: #ff7272;
    vertical-align: middle;
}


.lotto-win-none {
    display: none;
    text-align: center;
}

.lotto-win-none-show {
    display: block;
}



@media screen and (max-width: 768px) {
    .card {
        font-size: 16px;
    }

    .ball {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 17px;
    }

    .split-token {
        font-size: 17px;
    }
}

@media screen and (max-width: 767px) {
    .win-info-short ul {
        grid-template-columns: 1fr 2fr;
    }

    #win-1st-info-short li:nth-child(1) {
        order: 1;
    }

    #win-1st-info-short li:nth-child(2) {
        order: 3;
    }

    #win-1st-info-short li:nth-child(3) {
        order: 5;
    }

    #win-1st-info-short li:nth-child(4) {
        order: 2;
    }

    #win-1st-info-short li:nth-child(5) {
        order: 4;
    }

    #win-1st-info-short li:nth-child(6) {
        order: 6;
    }

    #win-2nd-info-short li:nth-child(2) {
        display: none;
    }

    #win-2nd-info-short li:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .card {
        font-size: 15px;
    }

    .ball {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }

    .split-token {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .card {
        font-size: 14px;
    }

    .ball {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
    }

    .split-token {
        font-size: 14px;
    }

}

@media screen and (max-width: 350px) {
    .card {
        font-size: 13px;
    }

    .ball {
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 13px;
    }

    .split-token {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        font-size: 12px;
    }

    .ball {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }

    .split-token {
        font-size: 12px;
    }
}
