body {
    background: #eeeeee;
}


.content-group {
    background: white;
    min-height: 90vh;
    padding: 10px;
    margin-top: 10px;
}


.card {
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    transform: scale(105%);
    cursor: pointer;
}

.card:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.card-header {
    background: rgba(253, 223, 174, 0.8);
}

.card-header-silver {
    background: rgba(161, 161, 161, 0.8);
}


.ico {
    width: 25px;
    margin: -4px 3px 0 5px;
}

.ico-small {
    width: 13px;
    padding: 0;
    margin: 0 0 2px 3px;
}


.label-title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.label-bold-text {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.label-text {
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    .container {
        padding-bottom: 40px;
    }

    .card {
        font-size: 16px;
    }

    .ico {
        width: 23px;
    }

    .ico-small {
        width: 12px;
        margin-bottom: 3px;
    }

    .label-title {
        font-size: 17px;
    }

    .label-bold-text {
        font-size: 15px;
    }

    .label-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        font-size: 15px;
    }

    .ico {
        width: 21px;
    }

    .ico-small {
        width: 11px;
        margin-bottom: 1px;
    }

    .label-title {
        font-size: 16px;
    }

    .label-bold-text {
        font-size: 14px;
    }

    .label-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .card {
        font-size: 14px;
    }

    .ico {
        width: 20px;
    }

    .label-title {
        font-size: 15px;
    }

    .label-bold-text {
        font-size: 13px;
    }

    .label-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    .card {
        font-size: 13px;
    }

    .ico {
        width: 19px;
    }

    .label-title {
        font-size: 14px;
    }

    .label-bold-text {
        font-size: 12px;
    }

    .label-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        font-size: 12px;
    }

    .ico {
        width: 18px;
    }

    .ico-small {
        width: 10px;
    }

    .label-title {
        font-size: 13px;
    }

    .label-bold-text {
        font-size: 11px;
    }

    .label-text {
        font-size: 11px;
    }
}
