<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" charset="PARK GI-PYO">
    <title>project-lottery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lotto.css" rel="stylesheet">
</head>
<body>
<header id="header">
    header 삽입부
    <hr>
</header>

<main class="container">
    <div class="row">
        <form action="/L645" method="get">
            <div class="row search-group">
                <h2>회차</h2>
                <select id="draw-no" name="drawNo" class="form-control">
                    <option>1056</option>
                    <option>1055</option>
                    <option>1054</option>
                </select>
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>

        <div class="draw-info">
            <h2><span class="text-red" id="draw-info-no">1056회</span> 당첨결과</h2>
            <span class="draw-dt"><b class="text-red" id="draw-info-dt">2023-02-25</b> 추첨</span>
        </div>


        <!-- BEGIN TABLE RESULT -->
        <div class="table-responsive">
            <table class="table" id="lotto-win-number-table">
                <thead class="thead-center">
                <tr>
                    <th class="col" colspan="6">당첨번호</th>
                    <th class="col"></th>
                    <th class="col">보너스</th>
                </tr>
                </thead>
                <tbody>
                <tr class="win-nums">
                    <td class="col"><span class="rounded-circle">13</span></td>
                    <td class="col"><span class="rounded-circle">20</span></td>
                    <td class="col"><span class="rounded-circle">24</span></td>
                    <td class="col"><span class="rounded-circle">32</span></td>
                    <td class="col"><span class="rounded-circle">36</span></td>
                    <td class="col"><span class="rounded-circle">45</span></td>
                    <td class="col"><span class="rounded-circle ball-p">+</span></td>
                    <td class="col"><span class="rounded-circle">29</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- END TABLE RESULT -->

        <!-- BEGIN TABLE RESULT -->
        <div class="table-responsive">
            <table class="table" id="lotto-win-prize-table">
                <thead class="thead-center">
                <tr>
                    <th class="col-1">순위</th>
                    <th class="col">등위별 총 당첨금액</th>
                    <th class="col-2">당첨게임 수</th>
                    <th class="col">1게임당 당첨금액</th>
                    <th class="col">당첨기준</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-1 col-center"><span>1</span>등</td>
                    <td class="col col-right"><span>27,575,274,384</span>원</td>
                    <td class="col-2 col-right"><span>14</span></td>
                    <td class="col col-right"><span>1,969,662,456</span>원</td>
                    <td class="col col-center"><span>당첨번호 <b>6개</b> 숫자일치</span></td>
                </tr>
                <tr>
                    <td class="col-1 col-center"><span>2</span>등</td>
                    <td class="col col-right"><span>4,595,879,088</span>원</td>
                    <td class="col-2 col-right"><span>81</span></td>
                    <td class="col col-right"><span>56,739,248</span>원</td>
                    <td class="col col-center"><span>당첨번호 <b>5개</b> + <b>보너스</b> 숫자일치</span></td>
                </tr>
                <tr>
                    <td class="col-1 col-center"><span>3</span>등</td>
                    <td class="col col-right"><span>4,595,881,972</span>원</td>
                    <td class="col-2 col-right"><span>3,223</span></td>
                    <td class="col col-right"><span>1,425,964</span>원</td>
                    <td class="col col-center"><span>당첨번호 <b>5개</b> 숫자일치</span></td>
                </tr>
                <tr>
                    <td class="col-1 col-center"><span>4</span>등</td>
                    <td class="col col-right"><span>7,549,800,000</span>원</td>
                    <td class="col-2 col-right"><span>150,996</span></td>
                    <td class="col col-right"><span>50,000</span>원</td>
                    <td class="col col-center"><span>당첨번호 <b>4개</b> 숫자일치</span></td>
                </tr>
                <tr>
                    <td class="col-1 col-center"><span>5</span>등</td>
                    <td class="col col-right"><span>12,322,975,000</span>원</td>
                    <td class="col-2 col-right"><span>2,464,595</span></td>
                    <td class="col col-right"><span>5,000</span>원</td>
                    <td class="col col-center"><span>당첨번호 <b>3개</b> 숫자일치</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- END TABLE RESULT -->

        <h3>1등 배출점</h3>
        <!-- BEGIN TABLE RESULT -->
        <div class="table-responsive">
            <table class="table table-hover" id="lotto-1st-win-shop-table">
                <thead class="thead-center">
                <tr>
                    <th class="col">순번</th>
                    <th class="col">상호명</th>
                    <th class="col">구분</th>
                    <th class="col">소재지</th>
                    <th class="col">1등</th>
                    <th class="col">2등</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="no col col-center">1</td>
                    <td class="name col col-center">인터넷 복권판매사이트</td>
                    <td class="purchase col col-center">자동</td>
                    <td class="address col col-center">동행복권(dhlottery.co.kr)</td>
                    <td class="count-1st-win col col-center">0</td>
                    <td class="count-2nd-win col col-center">0</td>
                </tr>
                <tr>
                    <td class="no col col-center">2</td>
                    <td class="name col col-center">인터넷 복권판매사이트</td>
                    <td class="purchase col col-center">자동</td>
                    <td class="address col col-center">동행복권(dhlottery.co.kr)</td>
                    <td class="count-1st-win col col-center">0</td>
                    <td class="count-2nd-win col col-center">0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- END TABLE RESULT -->

        <details>
            <summary>2등 배출점</summary>
            <!-- BEGIN TABLE RESULT -->
            <div class="table-responsive">
                <table class="table table-hover" id="lotto-2nd-win-shop-table">
                    <thead class="thead-center">
                    <tr>
                        <th class="col">순번</th>
                        <th class="col">상호명</th>
                        <th class="col">소재지</th>
                        <th class="col">1등</th>
                        <th class="col">2등</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="no col col-center">1</td>
                        <td class="name col col-center">인터넷 복권판매사이트</td>
                        <td class="address col col-center">동행복권(dhlottery.co.kr)</td>
                        <td class="count-1st-win col col-center">0</td>
                        <td class="count-2nd-win col col-center">0</td>
                    </tr>
                    <tr>
                        <td class="no col col-center">2</td>
                        <td class="name col col-center">인터넷 복권판매사이트</td>
                        <td class="address col col-center">동행복권(dhlottery.co.kr)</td>
                        <td class="count-1st-win col col-center">0</td>
                        <td class="count-2nd-win col col-center">0</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- END TABLE RESULT -->
        </details>
    </div>
</main>

<footer id="footer">
    <hr>
    footer 삽입부
</footer>
</body>
</html>