body {
    background: #eeeeee;
}


.move-button {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 0;
}

.move-button button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #f6e1e180;
    font-size: 20px;
}


.content-group {
    background: white;
    min-height: 90vh;
    padding: 10px;
    margin-top: 10px;
}


.search-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.search-group form {
    display: flex;
    align-items: center;
}

.search-group select {
    height: 30px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    text-align: center;
}

.search-group button {
    width: 75px;
    padding: 0;
    font-size: 18px;
}


.win-result {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.draw-no {
    font-size: 40px;
    font-weight: bold;
    color: #ff3827;
}

.draw-numbers {
    padding: 5px 0;
}

.ball {
    width: 64px;
    height: 64px;
    line-height: 64px;
    border: none;
    border-radius: 64px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 32px;
    font-weight: bold;
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.ball.n0 {
    background-color: #fbc400;
}

.ball.n1 {
    background-color: #69c8f2;
}

.ball.n2 {
    background-color: #ff7272;
}

.ball.n3 {
    background-color: #aaaaaa;
}

.ball.n4 {
    background-color: #b0d840;
}

.split-token {
    font-size: 32px;
    color: #ff7272;
    vertical-align: middle;
}


.grid {
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 5fr 6fr 1fr 7fr 4fr 0.2fr;
    grid-gap: 0px;
    white-space: nowrap;
}

.grid div:nth-child(2), .grid div:nth-child(6), .grid div:nth-child(7) {
    text-align: center;
}

.grid div:nth-child(3), .grid div:nth-child(4) {
    text-align: right;
}

.grid-win-1st {
    background: rgba(255, 215, 0, 0.8);
}

.grid-win-2nd {
    background: rgba(192, 192, 192, 0.8);
}

.grid-win-3rd {
    background: rgba(248, 203, 188, 0.8);
}


.card {
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    transform: scale(105%);
    cursor: pointer;
}

.card:active {
    filter: brightness(80%);
    transform: scale(100%);
}

.card-header {
    background: rgba(253, 223, 174, 0.8);
}

.card-header-silver {
    background: rgba(161, 161, 161, 0.8);
}

.win-none {
    display: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.win-none-visible {
    display: block;
}


.ico {
    width: 25px;
    margin: -4px 3px 0 5px;
}

.ico-small {
    width: 13px;
    padding: 0;
    margin: 0 0 2px 3px;
}


.label-title {
    font-size: 20px;
    font-weight: bold;

    white-space: nowrap;
}

.label-sub-title {
    font-size: 18px;
    font-weight: bold;
    color: #888888;

    white-space: nowrap;
}

.label-bold-text {
    font-size: 18px;
    font-weight: bold;

    white-space: nowrap;
}

.label-text {
    font-size: 18px;
}


@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 0.5fr 2fr 5fr 6.5fr 2.5fr 4fr 0.5fr;
    }

    .grid div:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .move-button button {
        font-size: 16px;
    }

    .container {
        padding-bottom: 40px;
    }

    .search-group select {
        height: 27px;

        font-size: 15px;
    }

    .search-group button {
        width: 60px;

        font-size: 15px;
    }

    .draw-no {
        font-size: 35px;
    }

    .ball {
        width: 50px;
        height: 50px;
        line-height: 50px;

        font-size: 25px;
    }

    .split-token {
        font-size: 25px;
    }

    .card {
        font-size: 16px;
    }

    .ico {
        width: 23px;
    }

    .ico-small {
        width: 12px;
        margin-bottom: 3px;
    }

    .label-title {
        font-size: 17px;
    }

    .label-sub-title {
        font-size: 15px;
    }

    .label-bold-text {
        font-size: 15px;
    }

    .label-text {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .move-button button {
        font-size: 14px;
    }

    .draw-no {
        font-size: 30px;
    }

    .ball {
        width: 40px;
        height: 40px;
        line-height: 40px;

        font-size: 20px;
    }

    .split-token {
        font-size: 20px;
    }

    .grid {
        grid-template-columns: 0.5fr 2fr 5.5fr 6fr 0.7fr 0.5fr;
    }

    .grid div:nth-child(7) {
        display: none;
    }

    .card {
        font-size: 15px;
    }

    .ico {
        width: 21px;
    }

    .ico-small {
        width: 11px;
        margin-bottom: 1px;
    }

    .label-title {
        font-size: 16px;
    }

    .label-sub-title {
        font-size: 14px;
    }

    .label-bold-text {
        font-size: 14px;
    }

    .label-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .move-button button {
        font-size: 12px;
    }

    .draw-no {
        font-size: 28px;
    }

    .ball {
        width: 35px;
        height: 35px;
        line-height: 35px;

        font-size: 17px;
    }

    .split-token {
        font-size: 17px;
    }

    .card {
        font-size: 14px;
    }

    .ico {
        width: 20px;
    }

    .label-title {
        font-size: 15px;
    }

    .label-sub-title {
        font-size: 13px;
    }

    .label-bold-text {
        font-size: 13px;
    }

    .label-text {
        font-size: 13px;
    }
}

@media screen and (max-width: 350px) {
    .move-button button {
        font-size: 12px;
    }

    .draw-no {
        font-size: 26px;
    }

    .ball {
        width: 30px;
        height: 30px;
        line-height: 30px;

        font-size: 15px;
    }

    .split-token {
        font-size: 15px;
    }

    .card {
        font-size: 13px;
    }

    .ico {
        width: 19px;
    }

    .label-title {
        font-size: 14px;
    }

    .label-sub-title {
        font-size: 12px;
    }

    .label-bold-text {
        font-size: 12px;
    }

    .label-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .move-button button {
        font-size: 11px;
    }

    .draw-no {
        font-size: 24px;
    }

    .ball {
        width: 26px;
        height: 26px;
        line-height: 26px;

        font-size: 13px;
    }

    .split-token {
        font-size: 13px;
    }

    .card {
        font-size: 12px;
    }

    .ico {
        width: 18px;
    }

    .ico-small {
        width: 10px;
    }

    .label-title {
        font-size: 13px;
    }

    .label-sub-title {
        font-size: 11px;
    }

    .label-bold-text {
        font-size: 11px;
    }

    .label-text {
        font-size: 11px;
    }
}
