.nav-link  {
    color: white;
}

.tab-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tab-pane {
    width: 450px;
    max-width: 90%;
    display: flex;
    justify-content: center;
}

.tab-content-inner {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: white;
    padding: 10px;
}

.omr-check-wrapper {
    border: red 1px solid;
}

.number-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
    padding: 5px;
    max-width: 600px;
}

.check-cell {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 20px;
    height: 27px;
    margin: 5px;
    padding: 0;
    border: 1px solid red;
}

.check-cell-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    margin: 1px -5px;
    background: white;
}

.check-cell-inner label {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    width: 18px;
    color: red;
    background-color: white;
}

.check-cell input[type="checkbox"] {
    display: none;
}

.check-cell input[type="checkbox"]:checked + label {
    color: white;
    background-color: black;
}

.game-grid-header {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: #434348;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.game-grid-header span {
    color: white;
}

.game-grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.game-numbers {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr 1fr 1fr 1fr 0.6fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 5px;
}

.game-numbers .label-mini-title {
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.game-numbers .label-mini-title:last-child {
    width: 100%;
    text-align: right;
}

.ball {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-weight: bold;
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

button {
    width: 100%;
}

.fa-heart {
    cursor: pointer;
}

.tab-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.btn-success {
    margin-left: auto;
    color: white;
}

@media screen and (max-width: 768px) {
    .lotto-purchase {
        flex-direction: column;
    }

    .ball {
        width: 29px;
        height: 29px;
        line-height: 29px;
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .ball {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .ball {
        width: 27px;
        height: 27px;
        line-height: 27px;
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .ball {
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .ball {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 13px;
    }
}
