footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.copyright {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px 0;
    background: #434348;
}

.scroll-button {
    z-index: 9998;
    display: grid;
    position: fixed;
    bottom: 100px;
    right: 20px;
    gap: 10px;
}

.scroll-button button {
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 768px) {
    footer {
        padding-bottom: 60px;
    }

    .scroll-button {
        right: 5px;
    }
}
