.offcanvas {
    width: 60% !important;
    max-width: 220px !important;
    background: #434348;
    z-index: 9999;
}

.mobile-menu-link-vertical {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: space-between;
}

.mobile-menu-link-vertical a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.desktop-menu {
    background: #434348;
    padding: 5px;
}

.desktop-menu-inner {
    display: flex;
    align-items: center;
}

.desktop-menu-inner img {
    width: 150px;
}

.desktop-menu-link {
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 50px;
}

.desktop-menu-link a {
    text-decoration: none;
    color: white;
}

.desktop-menu-link a:hover {
    color: #ffffff80;
}

.mobile-menu {
    z-index: 9999;
    display: none;
}

.mobile-menu-link {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-link a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#active-menu-info {
    color: #fbc400;
}

.kakao-login, .kakao-logout {
    background: #fce333;
}

.fa-comment, .fa-right-from-bracket {
    color: #171602;
}

@media (max-width: 768px) {
    .desktop-menu-inner {
        justify-content: center;
    }

    .desktop-menu-link {
        display: none;
    }

    .mobile-menu {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #434348;
        border-top: 1px #666666 solid;
    }
}
