.title {
    position :relative;
}

.title h2 {
    margin-top: 15px;
}

.title h6 {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.text-red {
    color: #dc1f1f;
}

.text-white {
    color: white;
}

.table thead {
    background: #eeeeee;
    font-size: 17px;
}

.thead-center {
    text-align: center;
}

.col-center {
    text-align: center;
}

.table-hover tr:hover {
    cursor: pointer;
}

.table-responsive {
    max-height: 700px;
}

#ranking-table {
    overflow-y: scroll;
}