<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" charset="PARK GI-PYO">
    <title>project-lottery</title>
    <link href="/css/common.css?v=2023061022" rel="stylesheet">
    <link href="/css/footer.css?v=2023061022" rel="stylesheet">
</head>
<body>
<footer>
    <!-- BEGIN 스크롤 버튼 영역 -->
    <div class="scroll-button">
        <button id="scroll-top">
            <i class="fas fa-chevron-up label-title"></i>
        </button>
        <button id="scroll-bottom">
            <i class="fas fa-chevron-down label-title"></i>
        </button>
    </div>
    <!-- END 스크롤 버튼 영역 -->
    <!-- BEGIN 컨텐츠 영역 -->
    <div class="copyright">
        <span class="label-mini-title">&copy; 2023 PARK GI-PYO</span>
    </div>
    <!-- END 컨텐츠 -->
</footer>
<script src="https://kit.fontawesome.com/9f7c487e95.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/footer.js?v=2023061022"></script>
</body>
</html>
