<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" charset="PARK GI-PYO">
  <title>project-lottery</title>
</head>
<body>
<header class="p-3 text-bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a id="home" href="/" class="nav-link px-2">Home</a></li>
        <li><a id="menu-lotto-detail" href="/L645" class="nav-link px-2 text-white">로또 당첨결과</a></li>
        <li><a id="menu-shop-list" href="/shop/list?page=0&state1=&state2" class="nav-link px-2 text-white">로또 판매점</a></li>
        <li><a id="menu-shop-ranking" href="/shop/ranking" class="nav-link px-2 text-white">로또 명당</a></li>
      </ul>
    </div>
  </div>
</header>
</body>
</html>