<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" charset="PARK GI-PYO">
    <title>project-lottery</title>
    <link href="/static/css/header.css" rel="stylesheet">
</head>
<body>
<header>
    <!-- BEGIN 데스크탑 메뉴 -->
    <nav class="desktop-menu">
        <a href="/">
            <img src="/images/logo.png">
        </a>
        <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/shop/list">지역별복권판매점</a></li>
            <li><a href="/L645">로또추첨결과</a></li>
            <li><a href="/shop/ranking">로또명당</a></li>
        </ul>
    </nav>
    <!-- END 데스크탑 메뉴 -->
    <!-- BEGIN 모바일 하단 메뉴 -->
    <nav class="mobile-menu">
        <ul>
            <li>
                <a href="/L645">
                    <div>
                        <i class="fa fa-home"></i>
                        <span>홈</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/shop/list">
                    <div>
                        <i class="fa fa-location-arrow"></i>
                        <span>복권판매점</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/L645">
                    <div>
                        <i class="fa fa-crown"></i>
                        <span>로또추첨결과</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/shop/ranking">
                    <div>
                        <i class="fa fa-ranking-star"></i>
                        <span>로또명당</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <!-- END 모바일 하단 메뉴 -->
</header>
<script src="https://kit.fontawesome.com/9f7c487e95.js" crossorigin="anonymous"></script>
</body>
</html>
